# tsc -b compile output (not needed in source control)
tsconfig.tsbuildinfo
src/**/*.js
tests/**/*.js

# vite-plugin-pwa dev-mode service worker output
dev-dist/

# Vite production build output
dist/
